.item {
    border-bottom: 1px solid rgba(229, 229, 229, 1);
    font-size: 14px;
    font-family: Roboto;
    vertical-align: middle;
    font-weight: 300;
}

.item:last-of-type {
    border: none;
}

.users {
    font-size: 14px;
    font-family: Roboto;
    vertical-align: middle;
    border-collapse: collapse;
}

.buttonsContainer {
    display: flex;
    justify-content: end;
    gap: 12px;
    margin-bottom: 18px;
}

.container {
    padding: 33px 0 43px 0;
    width: fit-content;
}

.thead {
    background-color: rgba(229, 229, 229, 1);
}

.nameCol {
    padding: 11px 218px 9px 17px;
    font-weight: 600;
}

.ageCol {
    padding: 11px 218px 9px 0px;
    font-weight: 600;
}
