.sendForm {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    margin-top: 56px;
}

.textarea {
    resize: none;
    background-color: rgba(245, 247, 251, 1);
    width: 976px;
    padding: 12px 24px;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 1px 2px 0px rgba(29, 33, 38, 0.1);
    box-shadow: 0px 5px 20px 0px rgba(29, 33, 38, 0.03); 
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;

}

.button {
    background-color: rgba(0, 102, 204, 1);
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 20px;
    padding: 10px 39px;
}

.button:hover {

}
.button:active {

}
